/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
	padding: 20px 0;
	font-size: 16px;
	transition: all 0.3s;
	

}
	.footer .copyright {
		text-align: center;
		color: #18543B;
	}
