<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Cửa Hàng Đồ ăn vặt Vitamin House</title>
<meta content="" name="description">
<meta content="" name="keywords">

<link rel="icon" type="image/png" href="~/Areas/Admin/Assets/img/logo_3.png" />

<!-- Google Fonts -->
@*<link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">*@

<!-- Vendor CSS Files -->
<link href="~/Areas/Admin/Assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="~/Areas/Admin/Assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
@*  *@
<link href="~/Areas/Admin/Assets/css/vitamin_house/main_vitaminhouse.css" rel="stylesheet" />
<link href="~/Areas/Admin/Assets/css/vitamin_house/home/_Index.css" rel="stylesheet" />
<link href="~/Areas/Admin/Assets/css/vitamin_house/home/_Header.css" rel="stylesheet" />
<link href="~/Areas/Admin/Assets/css/vitamin_house/home/_Slide.css" rel="stylesheet" />

<link href="~/Areas/Admin/Assets/css/vitamin_house/home/_Main.css" rel="stylesheet" />
<link href="~/Areas/Admin/Assets/css/vitamin_house/home/_Table.css" rel="stylesheet" />
<link href="~/Areas/Admin/Assets/css/vitamin_house/detail/_Detail.css" rel="stylesheet" />
<link href="~/Areas/Admin/Assets/css/vitamin_house/edit_create/_Edit_Create.css" rel="stylesheet" />

@*  *@


<style>
    .padding-table {
        padding-top: 30px;
        padding-left: 0px;
    }

    .store-pagination {
        text-align: left;
    }

        .store-pagination li {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #FFF;
            border: 1px solid #E4E7ED;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
            color: #2b2f4c;
        }

            .store-pagination li + li {
                margin-left: 5px;
            }
        .store-pagination li a{
            color:#808080;
        }
            .store-pagination li:hover {
                background-color: rgb(233, 252, 227);
                border-color: rgb(233, 252, 227);
                color: black;
            }

            .store-pagination li.active {
                background-color: #73a33e;
                border-color: #73a33e;
                color: #FFF;
                font-weight: 500;
                cursor: default;
            }

            .store-pagination li a {
                display: block;
            }

</style>