
@{ Html.RenderPartial("_Slider"); }

<div class="m-container-content">
    <div class="m-home-title-group">
        <div class="m-home-title-2">Thông tin liên hệ và địa chỉ hệ thống cửa hàng</div>
    </div>
    <div class="m-contact-content">
        <div class="m-contact-item">
            <div class="m-contact-image">
                <img src="~/wwwroot/img/home/contact/z2582298503658_c60fd3ac68a7d09b43d6da44553409a5.jpg" />
            </div>
            <div class="m-conact-ct">
                <div class="m-contact-left">
                    <div class="m-contact-name">
                        Cửa hàng CMT8
                    </div>
                    <div class="m-contact-address">
                        563 CMT8, P15, Q10
                    </div>
                    <div class="m-contact-work">
                        Thời gian hoạt động: 8 giờ 00 - 21 giờ 00, Thứ 2 đến Chủ Nhật <br />
                        0909 68 1356 (ZALO luôn có người trực)
                    </div>
                </div>
                <div class="m-contact-right">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.443505518246!2d106.67045100000001!3d10.783648!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb510fb57bfbbc953!2sVitamin%20House!5e0!3m2!1svi!2sus!4v1649383087230!5m2!1svi!2sus" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
        <div style="border-bottom: 2px dotted #cacaca; margin:20px 0 !important;"></div>
        <div class="m-contact-item">
            <div class="m-contact-image">
                <img src="~/wwwroot/img/home/contact/z2582349107351_d71220122c27751b2be3d380816135d7_700x.jpg" />
            </div>
            <div class="m-conact-ct">
                <div class="m-contact-left">
                    <div class="m-contact-name">
                        Cửa hàng Quang Trung
                    </div>
                    <div class="m-contact-address">
                        330 Quang Trung, P10, Q.Gò Vấp
                    </div>
                    <div class="m-contact-work">
                        Thời gian hoạt động: 8 giờ 00 - 21 giờ 00, Thứ 2 đến Chủ Nhật<br />
                        093 889 1259 (ZALO luôn có người trực)
                    </div>
                </div>
                <div class="m-contact-right">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15674.965251442167!2d106.669266!3d10.831098!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41cc8ed12d5d3f5e!2zQ-G7rWEgSMOgbmcgVml0YW1pbiBIb3VzZQ!5e0!3m2!1svi!2sus!4v1649385933701!5m2!1svi!2sus" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
        <div style="border-bottom: 2px dotted #cacaca; margin:20px 0 !important;"></div>
        <div class="m-contact-item">
            <div class="m-contact-image">
                <img src="~/wwwroot/img/home/contact/z2582314502816_64ef330ab29038947b701e7db6cb6413.jpg" />
            </div>
            <div class="m-conact-ct">
                <div class="m-contact-left">
                    <div class="m-contact-name">
                        Cửa hàng Phạm Viết Chánh
                    </div>
                    <div class="m-contact-address">
                        219A Phạm Viết Chánh, P.Nguyễn Cư Trinh, Q.1
                    </div>
                    <div class="m-contact-work">

                        Thời gian hoạt động: 8 giờ 00 - 21 giờ 00, Thứ 2 đến Chủ Nhật <br />

                        0933 08 1589 (ZALO luôn có người trực)
                    </div>
                </div>
                <div class="m-contact-right">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15678.31524904129!2d106.683581!3d10.766908!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4bc11274e5c45a4d!2sVitamin%20House!5e0!3m2!1svi!2sus!4v1649386152188!5m2!1svi!2sus" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </div>

</div>




