
@{
    Html.RenderPartial("_Slider");
}

<div class="m-container-content">
    <div class="m-home-title-group">
        <div class="m-home-title-1">Chào mừng bạn đến với</div>
        <div class="m-home-title-2">VITAMIN HOUSE</div>
        <div class="m-home-title-3">CHUỖI CỬA HÀNG ĐỒ ĂN VẶT DÀNH CHO NGƯỜI VIỆT</div>
    </div>
    <div class="m-home-content">
        <p class="m-home-child"> Vitamin House là thương hiệu chuyên cung cấp sỉ và lẻ các sản phẩm ngoại nhập như bánh kẹo, trái cây, nước uống, đồ ăn tươi sống, thực phẩm đóng hộp… được nhập khẩu chính hãng từ các quốc gia uy tín như Mỹ, Pháp, Úc, Hàn Quốc, Nhật Bản…</p>
        <div class="m-home-image">
            <img src="~/wwwroot/img/home/anh_home.png" />
        </div>
        <p class="m-home-child">
            Vitamin House luôn cố gắng mỗi ngày để mang đến cho khách hàng những sản phẩm mới với chất lượng tốt nhất. Bên cạnh các nhu yếu phẩm, chúng tôi cũng thường xuyên cập nhật các xu hướng của người tiêu dùng. Như các mẫu chai đẹp có thể tái sử dụng, vừa bảo vệ môi trường vừa có chai uống độc nhất vô nhị; hay Chai Phô Mai xịt Easy Cheese Cheddar Mỹ hot nhất thị trường hiện nay khiến giới trẻ đảo điên...
        </p>
        <p class="m-home-child">
            Chúng tôi mong muốn khách hàng đến Vitamin House không chỉ mua hàng, mà còn được tư vấn, hỗ trợ tốt nhất để chọn được những sản phẩm ngoại nhập phù hợp bản thân và gia đình.
        </p>
    </div>
    
</div>

