
@{ Html.RenderPartial("_Slider"); }

<div class="m-container-content">
    <div class="m-home-title-group">
        <div class="m-home-title-1">GIỚI THIỆU</div>
        <div class="m-home-title-2">VITAMIN HOUSE</div>
        <div class="m-home-title-3">SỨ MẠNG, TẦM NHÌN, GIÁ TRỊ CỐT LÕI</div>
    </div>
    <div class="m-home-content">
        <p class="m-home-child"> <b>Sứ mạng:</b> xuất phát từ việc giải quyết và đáp ứng nhu cầu của khách hàng về thực phẩm có chất lượng. Vitamin House đưa ra giải pháp nhằm cung cấp các sản phẩm có tiêu chuẩn quốc tế, trong đó đa số là thực phẩm ngoại nhập có giá trị và chất lượng cao. Vitamin House được sinh ra với mục tiêu "Vì sức khỏe gia đình bạn", do đó sức khỏe người tiêu dùng luôn luôn là tiêu chí đầu tiên trong suốt quá trình hình thành và phát triển kinh doanh của thương hiệu.<p/>
        <div class="m-home-image">
            <img src="~/wwwroot/img/home/vtmh.jpg" width="700px" />
        </div>
        <div class="m-home-child">
            <div class="m-home-bolde">Tầm nhìn:</div>
            <ul>
                <li>Trở thành một chuỗi cửa hàng bán sỉ, lẻ thực phẩm có uy tín hàng đầu ở HCM, có hệ thống phân phối đến toàn quốc.</li>
                <li>Ngành hàng kinh doanh chuyên sâu, đa dạng nhưng chủ yếu là hàng thực phẩm và tiêu dùng có tiêu chuẩn và chất lượng cao.</li>
                <li>Phát triển bao phủ đa kênh bán hàng, Phục vụ khách hàng với chất lượng tốt nhất HCM ở tất cả các kênh online và offline.</li>
            </ul>
        </div>
        <div class="m-home-child">
            <div class="m-home-bolde" style="margin-top: 30px;">Giá trị cốt lõi : </div>
            
            <ul>
                <li>Đối với khách hàng: đảm bảo quyền lợi và mang lại trải nghiệm mua sắm đẳng cấp.</li>
                <li>Đối với nhân viên: đảm bảo về môi trường làm việc công bằng, văn minh, có thu nhập cao và thúc đẩy khả năng phát triển bản thân.</listyle="padding-left:>
                <li>Đối với cổ đông: trung thực, minh bạch và đảm bảo lợi ích.</li>
            </ul>
        </div>
    </div>
</div>
