<section id="hero">

        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <div style="background-color:red !important; margin-left:500px !important;">
                <ol class="carousel-indicators" id="hero-carousel-indicators" style="padding-bottom: 30px !important; padding-left: 113px !important;"></ol>
            </div>

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"><img src="~/wwwroot/img/slide/KY_NGHI_HE_CUNG_VITAMIN_1400x.jpg" alt="" width="100%"></div>
                <div class="carousel-item"><img src="~/wwwroot/img/slide/anh_tra_chieu.png" alt="" width="100%"></div>
                <div class="carousel-item"><img src="~/wwwroot/img/slide/KY_NGHI_HE_CUNG_VITAMIN_6024e19d-99e0-40d9-b66c-59b152ded659_1400x.png" alt="" width="100%"></div>
                <div class="carousel-item"><img src="~/wwwroot/img/slide/GDS_1400x.jpg" alt="" width="100%"></div>
                <div class="carousel-item"><img src="~/wwwroot/img/slide/z3320829911381_10e7707a51756f0618d59209b0e9d4b5_1400x.jpg" alt="" width="100%"></div>
                <div class="carousel-item"><img src="~/wwwroot/img/slide/BGF_1400x.jpg" alt="" width="100%"></div>
            </div>

            <!-- Button slide -->
            <a class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>
            <!-- End button slide -->

        </div>

</section>
