.m-notfound-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    color: #677279;
}
    .m-notfound-group h2 {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        color: #18543b;
    }
    .m-notfound-group h3.m-notfound-con {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
